<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bandmoss.hellomoss" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".ApplicationHelper"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.WithNavi"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dd94aa1b9c3f5caa95114bce97b1a02d3b66c279" />
    </application>

</manifest>
